:root {
  --gb-bg-green: #3d8570;
  --gb-link-blue: #51a3ec;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family:
    Open Sans,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  padding: 0;
}

body a {
  color: var(--gb-link-blue);
  text-shadow: 2px 2px 7px black;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--gb-bg-green);
  position: sticky;
  padding: 2vh;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

header #home_link {
  font-size: 2rem;
  padding-left: 1vw;
}

nav {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}
nav a {
  font-size: 1.1rem;
  padding-right: 5vw;
  white-space: nowrap;
}

main {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

iframe {
  width: 90vw;
  height: 75vh;
}

footer p {
  margin: 0;
  text-align: center;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 96px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 492px) {
  /* Styles applied when the screen width is 768px or less */
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1vw;
  }
}
