name: Lint Code Base
run-name: ${{ github.event.inputs.custom_run_name || github.workflow }}

on:
  # run when called by another workflow
  workflow_call:
    inputs:
      skip_commit:
        description: "Skip committing reports"
        required: false
        type: boolean
        default: false

  # run on demand
  workflow_dispatch:
    inputs:
      custom-run-name:
        description: "Custom name for this Actions run"
        required: false
        type: string

# cancel any previously-started, yet still active runs of this workflow on the same branch
concurrency:
  group: ${{ github.ref }}-Lint Code Base
  cancel-in-progress: true

permissions: read-all

# adapted from https://mskelton.medium.com/auto-formatting-code-using-prettier-and-github-actions-ed458f58b7df
jobs:
  call-gradle-linter:
    name: Call Gradle Linter
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4
        if: ${{ inputs.skip_commit != true }}

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Call Debug and Release Linters
        # ostensibly, ./gradlew lint should run both, but in practice on my (Thalia Wood's), it only runs the Debug linter
        run: |
          ./gradlew lintDebug
          ./gradlew lintRelease

      - name: Configure Git Identity (if called individually)
        if: ${{ inputs.skip_commit != true }}
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Copy Linting Reports to Viewing Directory (if called individually)
        if: ${{ inputs.skip_commit != true }}
        run: |
          mkdir ./build_reports/lint_results_debug
          cp ./app/build/reports/lint-results-debug.html ./build_reports/lint_results_debug/lint_results_debug.html
          mkdir ./build_reports/lint_results_release
          cp ./app/build/reports/lint-results-release.html ./build_reports/lint_results_release/lint_results_release.html
          git add --force ./build_reports/
          git commit -m "Relocate coverage report for viewing"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  call-super-linter:
    name: Call Super-Linter
    permissions:
      contents: read # clone the repo to lint
      statuses: write # read/write to repo custom statuses

    uses: polygeist111/super-linter-workflow/.github/workflows/reusable-super-linter.yaml@main
    # TODO: update url to point to gb reusable linter, not thalia's

    # with:
    ### A regex to exclude files from linting
    ### defaults to empty
    # filter-regex-exclude:
