name: Compile Build Reports
run-name: ${{ github.event.inputs.custom_run_name || github.workflow }}

on:
  # run anytime a PR is merged to main or a direct push to main
  push:
    branches: [main]

  # run on any push to a PR branch
  pull_request:

  # run on demand
  workflow_dispatch:
    inputs:
      custom-run-name:
        description: "Custom name for this Actions run"
        required: false
        type: string

# cancel any previously-started, yet still active runs of this workflow on the same branch
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-out-repo:
    name: Check Out Code
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

  format-and-lint:
    name: Format and Lint
    needs: check-out-code
    uses: ./.github/workflows/format_and_lint.yml
    with:
      skip_commit: true

  test-and-report-coverage:
    name: Test and Report Coverage
    needs: check-out-code
    uses: ./.github/workflows/test_and_report_coverage.yml
    with:
      skip_commit: true

  upload-apks:
    name: Upload APKs
    # needs: build-and-test # uses cached build from prior job
    uses: ./.github/workflows/build_artifacts.yml

  finalize-report-viewer:
    name: Finalize Report Viewer
    needs: [format-and-lint, build-and-test]
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Configure Git Identity
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Commit Reports to Viewing Directory
        run: |
          cp -r ./app/build/reports/kover/html/ ./build_reports/coverage_report
          cp -r ./app/build/reports/tests/testDebugUnitTest ./build_reports/testing_report_debug
          cp -r ./app/build/reports/tests/testReleaseUnitTest ./build_reports/testing_report_release
          mkdir ./build_reports/lint_results_debug
          cp ./app/build/reports/lint-results-debug.html ./build_reports/lint_results_debug/lint_results_debug.html
          mkdir ./build_reports/lint_results_release
          cp ./app/build/reports/lint-results-release.html ./build_reports/lint_results_release/lint_results_release.html
          git add --force ./build_reports/
          git commit -m "Relocate reports for viewing"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Reports Viewer Directory to Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build_reports

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
