name: Measure Test Coverage
run-name: ${{ github.event.inputs.custom_run_name || github.workflow }}

on:
  # run anytime a PR is merged to main or a direct push to main
  push:
    branches: [main]

  # run on any push to a PR branch
  pull_request:

  # run on demand
  workflow_dispatch:
    inputs:
      custom-run-name:
        description: "Custom name for this Actions run"
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Generate kover coverage report
        run: ./gradlew koverXmlReport
      - name: Add coverage report to PR
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: |
            ${{ github.workspace }}/app/build/reports/kover/report.xml
          title: Code Coverage
          update-comment: true
          min-coverage-overall: 80
          min-coverage-changed-files: 80
          coverage-counter-type: LINE
      - name: Add short summary to workflow run summary
        run: |
          echo "Overall Coverage: ${{ steps.kover.outputs.coverage-overall }}" >> $GITHUB_STEP_SUMMARY
          echo "Changed File Coverage: ${{ steps.kover.outputs.coverage-changed-files }}" >> $GITHUB_STEP_SUMMARY
