name: Measure Test Coverage
run-name: ${{ github.event.inputs.custom_run_name || github.workflow }}

on:
  # run when called by another workflow
  workflow_call:
    skip_commit:
      description: "Skip committing reports"
      required: false
      type: boolean
      default: false

  # run on demand
  workflow_dispatch:
    inputs:
      custom-run-name:
        description: "Custom name for this Actions run"
        required: false
        type: string

# cancel any previously-started, yet still active runs of this workflow on the same branch
concurrency:
  group: ${{ github.ref }}-Measure Test Coverage
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Define Coverage Minimums
        run: |
          echo "min-coverage-overall=80" >> $GITHUB_ENV
          echo "min-coverage-changed-files=80" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Generate Kover Coverage Report
        id: koverXmlReport
        run: ./gradlew koverXmlReport --continue
        continue-on-error: true

      - name: Download Kover CLI (only on test failure)
        if: steps.koverXmlReport.outcome == 'failure'
        run: wget -O kover-cli.jar https://repo1.maven.org/maven2/org/jetbrains/kotlinx/kover-cli/0.9.3/kover-cli-0.9.3.jar
        # ensure the versions in the link match the kover version in the top-level build.gradle.kts file

      - name: Format Kover XML Coverage Report Via CLI (only on test failure)
        if: steps.koverXmlReport.outcome == 'failure'
        run: java -jar kover-cli.jar report ./app/build/kover/bin-reports/testDebugUnitTest.ic --classfiles ./app/build/tmp/kotlin-classes --src ./app/src/main/java --xml ./app/build/reports/kover/report.xml

      - name: Format Kover HTML Coverage Report Via CLI (only on test failure)
        if: steps.koverXmlReport.outcome == 'failure'
        run: java -jar kover-cli.jar report ./app/build/kover/bin-reports/testDebugUnitTest.ic --classfiles ./app/build/tmp/kotlin-classes --src ./app/src/main/java --html ./app/build/reports/kover/html/

      - name: Add Coverage Report to PR
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: ${{ github.workspace }}/app/build/reports/kover/report.xml
          title: Code Coverage
          update-comment: true
          min-coverage-overall: ${{ env.min-coverage-overall }}
          min-coverage-changed-files: ${{ env.min-coverage-changed-files }}
          coverage-counter-type: LINE

      - name: Configure Git Identity (if called individually)
        if: ${{ inputs.skip_commit != true }}
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Copy Coverage Report & Test Outputs to Viewing Directory (if called individually)
        if: ${{ inputs.skip_commit != true }}
        run: |
          cp -r ./app/build/reports/kover/html/ ./build_reports/coverage_report
          cp -r ./app/build/reports/tests/testDebugUnitTest ./build_reports/testing_report_debug
          cp -r ./app/build/reports/tests/testReleaseUnitTest ./build_reports/testing_report_release
          git add --force ./build_reports/
          git commit -m "Relocate coverage report for viewing"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add Summary to Workflow Run
        run: |
          echo "| Type | Coverage | Passing |" >> $GITHUB_STEP_SUMMARY
          echo "|---|---|---|" >> $GITHUB_STEP_SUMMARY
          echo "| Overall Coverage | ${{ steps.kover.outputs.coverage-overall }}% | ${{ steps.kover.outputs.coverage-overall >= env.min-coverage-overall && ':white_check_mark:' || ':x:' }} |" >> $GITHUB_STEP_SUMMARY
          echo "| Changed File Coverage | ${{ steps.kover.outputs.coverage-changed-files }}% | ${{ steps.kover.outputs.coverage-changed-files >= env.min-coverage-changed-files && ':white_check_mark:' || ':x:' }} |" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "(Changed File Coverage is currently bugged, disregard)" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Full coverage report can be viewed at https://html-preview.github.io/?url=https://github.com/polygeist111/Project-Mesh/blob/main/build_reports/coverage_report/index.html" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "---" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

      - name: Verify Test/Build Outcome
        if: steps.koverXmlReport.outcome == 'failure'
        run: |
          echo "Tests (or build) failed, marking workflow as failed"
          exit 1
